
.heading{
  border: solid #CCC 1px;
  padding: 1.2em;
  margin: 0.8em;
}
.point{
  border: solid #CCC 1px;
  text-align: center;
  margin: 1em;
}
  .point header{
    font-color: #000;
  }
  .point div {
    font-size: 2.4em;
    font-weight: bold;
  }
  .point footer{
    font-size: 0.8em;
  }
.center{
  text-align: center;
}
.box{
  border: solid #CCC 1px;
  margin: 0.8em;

}
  .box header{
    border-bottom: solid #CCC 1px;
  }
  .box footer{
    border-top: solid #CCC 1px;
    font-size: 0.8em;
  }
  .box .resalt{
    font-size: 2.2em;
  }

.control-full-width {
  width: 100%;
}
.p4{
  padding: 0.4em;
}
.p8{
  padding: 0.8em;
}
.p12{
  padding: 1.2em;
}
.m4{
  margin: 0.4em;
}
.m8{
  margin: 0.8em;
}
.m12{
  margin: 1.2em;
}
