<section class="dicemaster pure-g">
  <header class="pure-u-1-1">
    Puntos de caracteristica
  </header>
  <article class="pure-u-1-2">
    <table class="pure-table pure-table-horizontal">
      <thead>
        <tr>
          <th> Caracteristica</th>
          <th> Punt. </th>
          <th> Mod. </th>
          <th> Detalles</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Fuerza </td>
          <td [ngSwitch]="type">
            <span *ngSwitchCase="'1'">
              <md-select name="asgin" [(ngModel)]="ability_scores.str">
                <md-option value=""></md-option>
                <md-option *ngFor="let rol of rols" [value]="totalRol(rol)" [disabled]="diceInUse(totalRol(rol))"> {{totalRol(rol) | number:'2.0-1'}} </md-option>
              </md-select>
            </span>
            <span *ngSwitchCase="'2'">
              <md-select name="asgin" [(ngModel)]="ability_scores.str">
                <md-option value=""></md-option>
                <md-option *ngFor="let rol of rols" [value]="totalRol(rol)" [disabled]="diceInUse(totalRol(rol))"> {{totalRol(rol) | number:'2.0-1'}} </md-option>
              </md-select>
            </span>
            <span *ngSwitchCase="'3'">
              Comprar puntos
            </span>
            <span *ngSwitchCase="'4'">
              <md-input-container class="control-full-width">
                <input mdInput placeholder="Fuerza" type="number" min="3" max="20" [(ngModel)]="ability_scores.str" name="str">
              </md-input-container>
            </span>
            <span  *ngSwitchDefault>
              --
            </span>
          </td>
          <td>{{_.abilityModifier(ability_scores.str)}}</td>
          <td></td>
        </tr>
        <tr>
          <td>Destreza </td>
          <td [ngSwitch]="type">
            <span *ngSwitchCase="'1'">
              <md-select name="asgin" [(ngModel)]="ability_scores.dex">
                <md-option value=""></md-option>
                <md-option *ngFor="let rol of rols" [value]="totalRol(rol)" [disabled]="diceInUse(totalRol(rol))"> {{totalRol(rol) | number:'2.0-1'}} </md-option>
              </md-select>
            </span>
            <span *ngSwitchCase="'2'">
              <md-select name="asgin" [(ngModel)]="ability_scores.dex">
                <md-option value=""></md-option>
                <md-option *ngFor="let rol of rols" [value]="totalRol(rol)" [disabled]="diceInUse(totalRol(rol))"> {{totalRol(rol) | number:'2.0-1'}} </md-option>
              </md-select>
            </span>
            <span *ngSwitchCase="'3'">
              Comprar puntos
            </span>
            <span *ngSwitchCase="'4'">
              <md-input-container class="control-full-width">
                <input mdInput placeholder="Fuerza" type="number" min="3" max="20" [(ngModel)]="ability_scores.dex" name="str">
              </md-input-container>
            </span>
            <span  *ngSwitchDefault>
              --
            </span>
          </td>
          <td>{{_.abilityModifier(ability_scores.dex)}}</td>
          <td></td>
        </tr>
        <tr>
          <td>Constitución </td>
          <td [ngSwitch]="type">
            <span *ngSwitchCase="'1'">
              <md-select name="asgin" [(ngModel)]="ability_scores.con">
                <md-option value=""></md-option>
                <md-option *ngFor="let rol of rols" [value]="totalRol(rol)" [disabled]="diceInUse(totalRol(rol))"> {{totalRol(rol) | number:'2.0-1'}} </md-option>
              </md-select>
            </span>
            <span *ngSwitchCase="'2'">
              <md-select name="asgin" [(ngModel)]="ability_scores.con">
                <md-option value=""></md-option>
                <md-option *ngFor="let rol of rols" [value]="totalRol(rol)" [disabled]="diceInUse(totalRol(rol))"> {{totalRol(rol) | number:'2.0-1'}} </md-option>
              </md-select>
            </span>
            <span *ngSwitchCase="'3'">
              Comprar puntos
            </span>
            <span *ngSwitchCase="'4'">
              <md-input-container class="control-full-width">
                <input mdInput placeholder="Fuerza" type="number" min="3" max="20" [(ngModel)]="ability_scores.con" name="con">
              </md-input-container>
            </span>
            <span  *ngSwitchDefault>
              --
            </span>
          </td>
          <td>{{_.abilityModifier(ability_scores.con)}}</td>
          <td></td>
        </tr>
        <tr>
          <td>Inteligencia </td>
          <td [ngSwitch]="type">
            <span *ngSwitchCase="'1'">
              <md-select name="asgin" [(ngModel)]="ability_scores.int">
                <md-option value=""></md-option>
                <md-option *ngFor="let rol of rols" [value]="totalRol(rol)" [disabled]="diceInUse(totalRol(rol))"> {{totalRol(rol) | number:'2.0-1'}} </md-option>
              </md-select>
            </span>
            <span *ngSwitchCase="'2'">
              <md-select name="asgin" [(ngModel)]="ability_scores.int">
                <md-option value=""></md-option>
                <md-option *ngFor="let rol of rols" [value]="totalRol(rol)" [disabled]="diceInUse(totalRol(rol))"> {{totalRol(rol) | number:'2.0-1'}} </md-option>
              </md-select>
            </span>
            <span *ngSwitchCase="'3'">
              Comprar puntos
            </span>
            <span *ngSwitchCase="'4'">
              <md-input-container class="control-full-width">
                <input mdInput placeholder="Fuerza" type="number" min="3" max="20" [(ngModel)]="ability_scores.int" name="str">
              </md-input-container>
            </span>
            <span  *ngSwitchDefault>
              --
            </span>
          </td>
          <td>{{_.abilityModifier(ability_scores.int)}}</td>
          <td></td>
        </tr>
        <tr>
          <td>Sabiduria </td>
          <td [ngSwitch]="type">
            <span *ngSwitchCase="'1'">
              <md-select name="asgin" [(ngModel)]="ability_scores.wis">
                <md-option value=""></md-option>
                <md-option *ngFor="let rol of rols" [value]="totalRol(rol)" [disabled]="diceInUse(totalRol(rol))"> {{totalRol(rol) | number:'2.0-1'}} </md-option>
              </md-select>
            </span>
            <span *ngSwitchCase="'2'">
              <md-select name="asgin" [(ngModel)]="ability_scores.wis">
                <md-option value=""></md-option>
                <md-option *ngFor="let rol of rols" [value]="totalRol(rol)" [disabled]="diceInUse(totalRol(rol))"> {{totalRol(rol) | number:'2.0-1'}} </md-option>
              </md-select>
            </span>
            <span *ngSwitchCase="'3'">
              Comprar puntos
            </span>
            <span *ngSwitchCase="'4'">
              <md-input-container class="control-full-width">
                <input mdInput placeholder="Fuerza" type="number" min="3" max="20" [(ngModel)]="ability_scores.wis" name="wis">
              </md-input-container>
            </span>
            <span  *ngSwitchDefault>
              --
            </span>
          </td>
          <td>{{_.abilityModifier(ability_scores.wis)}}</td>
          <td></td>
        </tr>
        <tr>
          <td>Carisma </td>
          <td [ngSwitch]="type">
            <span *ngSwitchCase="'1'">
              <md-select name="asgin" [(ngModel)]="ability_scores.cha">
                <md-option value=""></md-option>
                <md-option *ngFor="let rol of rols" [value]="totalRol(rol)" [disabled]="diceInUse(totalRol(rol))"> {{totalRol(rol) | number:'2.0-1'}} </md-option>
              </md-select>
            </span>
            <span *ngSwitchCase="'2'">
              <md-select name="asgin" [(ngModel)]="ability_scores.cha">
                <md-option value=""></md-option>
                <md-option *ngFor="let rol of rols" [value]="totalRol(rol)" [disabled]="diceInUse(totalRol(rol))"> {{totalRol(rol) | number:'2.0-1'}} </md-option>
              </md-select>
            </span>
            <span *ngSwitchCase="'3'">
              Comprar puntos
            </span>
            <span *ngSwitchCase="'4'">
              <md-input-container class="control-full-width">
                <input mdInput placeholder="Fuerza" type="number" min="3" max="20" [(ngModel)]="ability_scores.cha" name="str">
              </md-input-container>
            </span>
            <span  *ngSwitchDefault>
              --
            </span>
          </td>
          <td>{{_.abilityModifier(ability_scores.cha)}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </article>
  <aside class="pure-u-1-2">
    <div class="">
      <md-select placeholder="Tipo de Lanzamiento" [(ngModel)]="type" name="clas" (change)="clear()">
        <md-option value="1"> 3d6 </md-option>
        <md-option value="2"> 4d6 - 1d6(menor) </md-option>
        <md-option value="3"> Puntos </md-option>
        <md-option value="4"> Manual </md-option>
      </md-select>
    </div>
    <div *ngIf="type === '1' || type === '2'">
      <br>
      <button class="pure-button pure-button-success" (click)="rols = roll($event, type)"> Lanzar Dados </button>
      <div class="">
        <ul>
          <li *ngFor="let rol of rols">
            <p *ngIf="diceInUse(totalRol(rol))" class="txt-gray">
              {{totalRol(rol) | number:'2.0-1'}}  usado
            </p>
            <p *ngIf="!diceInUse(totalRol(rol))">
              {{totalRol(rol) | number:'2.0-1'}} -
              [{{rol[0]}}] [{{rol[1]}}] [{{rol[2]}}] [{{rol[3] || '-'}} ]
            </p>
          </li>
        </ul>
      </div>
    </div>
  </aside>
  <footer class="pure-u-1-1">
    <button class="pure-button pure-button-primary"> Siguiente -> </button>
  </footer>
</section>
